*.o
*.mod
depend.mk
depend.mk.old
fort.*
dsmacc_*.f90
dsmacc
dsmacc.map
Rate_*.dat
Spec_*.dat
tuvlog.txt
Makefile_dsmacc
.DS_Store
src/fflags
kpp/cflags
kpp/bin
kpp/src/lex.yy.c
kpp/src/y.tab.c
kpp/src/y.tab.h
test/Init_cons.dat
test/geos.Rate_1.dat.diurnal
test/geos.Rate_1.dat.timeseries
test/geos.Spec_1.dat.diurnal
test/geos.Spec_1.dat.timeseries
test/cri.Rate_1.dat.diurnal
test/cri.Rate_1.dat.timeseries
test/cri.Spec_1.dat.diurnal
test/cri.Spec_1.dat.timeseries
test/cri.diurnal.log
test/cri.timeseries.log
test/geos.diurnal.log
test/geos.timeseries.log
test/cri.check.diurnal.log
test/cri.check.timeseries.log
test/geos.check.diurnal.log
test/geos.check.timeseries.log
test/cri
test/geos
config.log
config.status
Makefile.defs
autom*.cache