*.png
*.log
*.a
*.o
*.mod
working/*.png
working/*.dat
working/*.log
working/*.timeseries
working/*.diurnal
working/DATA*
working/INPUTS
depend.mk
depend.mk.old
fort.*
dsmacc_*.f90
dsmacc
dsmacc.map
Rate_*.dat
Spec_*.dat
tuvlog.txt
Makefile_dsmacc
.DS_Store
src/fflags
kpp/cflags
kpp/bin
test/Init_cons.dat
test/*.Rate_1.dat.diurnal
test/*.Rate_1.dat.timeseries
test/*.Spec_1.dat.diurnal
test/*.Spec_1.dat.timeseries
test/*.diurnal.log
test/*.timeseries.log
test/*.check.diurnal.log
test/*.check.timeseries.log
test/cri
test/geos
test/geoschem-09-02
test/mz4
config.log
config.status
Makefile.defs
autom*.cache
cri_tuv/cri
cri_tuv/cri_rate_*.dat
cri_tuv/cri_conc_*.dat
cri_tuv/DATA*
cri_tuv/INPUTS