*.png
*.log
*.a
*.o
*.mod
working/*
depend.mk
depend.mk.old
fort.*
dsmacc_*.f90
dsmacc
dsmacc.map
Rate_*.dat
Spec_*.dat
tuvlog.txt
Makefile_dsmacc
.DS_Store
src/fflags
kpp/cflags
kpp/bin
test/Init_cons.dat
test/*.Rate_1.dat.diurnal
test/*.Rate_1.dat.timeseries
test/*.Spec_1.dat.diurnal
test/*.Spec_1.dat.timeseries
test/*.diurnal.log
test/*.timeseries.log
test/*.check.diurnal.log
test/*.check.timeseries.log
test/cri
test/geos
test/geoschem-09-02
test/mz4
config.log
config.status
Makefile.defs
autom*.cache
*/cri
*/geoschem
*/*_rate_*.dat
*/*_conc_*.dat
*/FJX*.dat
*/atmos_std.dat
*/CTM*.dat
*/DATA*
*/INPUTS
*/photolysis.txt
pysrc/INPUTS
pysrc/DATA*
pysrc/*.so
pysrc/*.tsv
pysrc/kpp.pyf
pysrc/photolysis.txt
pysrc/build/